#root {
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0; /* Remove default margin from body */
  padding-top: 60px; /* Adjust this value to match your navbar's height */
}

.content--hidden {
  display: none;
}
