#root {
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: #FFFFFF;
  background-color: #242424;
  margin: 0; /* Remove default margin from body */
  padding-top: 60px; /* Adjust this value to match your navbar's height */
}

.content--hidden {
  display: none;
}

